In [1]:
import sqlalchemy as sa
import pandas as pd
import datetime as dt
import numpy as np
import os

engine = sa.create_engine("mssql+pymssql://username:password@server/database", echo=True)

In [4]:
consigned = {}
i = 1
files = [ f for f in os.listdir('Consignment PP') if os.path.isfile('Consignment PP/'+ f) ]
print(files)
for filename in files:
    consigned[i] = pd.read_excel('Consignment PP/' + filename,sheet_name='Consigned', usecols=['item_id', 'spa_cost', 'rounded_sell', 'desc'])
    i += i

ConsignedConCat = pd.concat(consigned, ignore_index=True)
ConsignedConCat

['Freestate Consignment 2.8.22.xlsx']

,item_id,spa_cost,rounded_sell,desc
0,BL B140,6.70000,7.900000,FREESTATE CON 02-08-2022 BL B140
1,BL B248ZN,20.15540,21.920000,FREESTATE CON 02-08-2022 BL B248ZN
2,TB 2522,6.84790,8.056353,FREESTATE CON 02-08-2022 TB 2522
3,TB 2922,4.76770,5.609059,FREESTATE CON 02-08-2022 TB 2922
4,TB 500-SC,0.79610,0.936588,FREESTATE CON 02-08-2022 TB 500-SC
5,TB 502,9.14280,10.756235,FREESTATE CON 02-08-2022 TB 502
6,TB 5232,2.49450,2.934706,FREESTATE CON 02-08-2022 TB 5232
7,TB 5233,3.70390,4.357529,FREESTATE CON 02-08-2022 TB 5233
8,TB 5252,4.21140,4.954588,FREESTATE CON 02-08-2022 TB 5252
9,TB 5253,6.49100,7.636471,FREESTATE CON 02-08-2022 TB 5253
10,TB 702 1 EG,1.07400,1.263529,FREESTATE CON 02-08-2022 TB 702 1 EG
11,TB 702 3/4 EG,1.58810,1.868353,FREESTATE CON 02-08-2022 TB 702 3/4 EG
12,TB A100 1/4,0.88230,1.038000,FREESTATE CON 02-08-2022 TB A100 1/4
13,TB A100 3/8,0.93670,1.102000,FREESTATE CON 02-08-2022 TB A100 3/8
14,TB A1200HS 10PG,3.34162,3.632196,FREESTATE CON 02-08-2022 TB A1200HS 10PG
15,TB AB205 EG,3.06630,3.607412,FREESTATE CON 02-08-2022 TB AB205 EG
16,TB AB241 1/2EG,2.79110,0.848359,FREESTATE CON 02-08-2022 TB AB241 1/2EG
17,TB B1400HS 10PG,1.99461,2.168054,FREESTATE CON 02-08-2022 TB B1400HS 10PG
18,TB TC5342A,0.55778,0.656212,FREESTATE CON 02-08-2022 TB TC5342A
19,TB TC5345A,0.56810,0.668353,FREESTATE CON 02-08-2022 TB TC5345A
20,TB TY526MX,0.42030,0.494471,FREESTATE CON 02-08-2022 TB TY526MX

In [5]:
ConsignedConCat.to_sql('aaron_temp_table', con=engine, if_exists='replace')

2022-02-08 16:14:13,594 INFO sqlalchemy.engine.base.Engine select @@version
2022-02-08 16:14:13,596 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:14:13,599 INFO sqlalchemy.engine.base.Engine SELECT schema_name()
2022-02-08 16:14:13,600 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:14:13,606 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-02-08 16:14:13,606 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:14:13,610 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2022-02-08 16:14:13,611 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:14:13,612 INFO sqlalchemy.engine.base.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2022-02-08 16:14:13,613 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:14:13,618 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-08 16:14:13,619 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-08 16:14:13,640 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-08 16:14:13,641 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-08 16:14:13,655 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-02-08 16:14:13,655 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2022-02-08 16:14:13,735 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2022-02-08 16:14:13,736 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2022-02-08 16:14:13,773 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2022-02-08 16:14:13,774 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2022-02-08 16:14:13,816 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-08 16:14:13,817 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-08 16:14:13,922 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2022-02-08 16:14:13,923 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-08 16:14:14,077 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2022-02-08 16:14:14,078 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-08 16:14:14,107 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2022-02-08 16:14:14,108 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-08 16:14:14,243 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2022-02-08 16:14:14,245 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:14:14,250 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-08 16:14:14,256 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	item_id VARCHAR(max) NULL,
	spa_cost FLOAT(53) NULL,
	rounded_sell FLOAT(53) NULL,
	[desc] VARCHAR(max) NULL
)


2022-02-08 16:14:14,258 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:14:14,260 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-08 16:14:14,263 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2022-02-08 16:14:14,265 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:14:14,267 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-08 16:14:14,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-02-08 16:14:14,276 INFO sqlalchemy.engine.base.Engine INSERT INTO aaron_temp_table ([index], item_id, spa_cost, rounded_sell, [desc]) VALUES (%(index)s, %(item_id)s, %(spa_cost)s, %(rounded_sell)s, %(desc)s)
2022-02-08 16:14:14,277 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'item_id': 'BL B140', 'spa_cost': 6.7, 'rounded_sell': 7.9, 'desc': 'FREESTATE CON 02-08-2022 BL B140'}, {'index': 1, 'item_id': 'BL B248ZN', 'spa_cost': 20.1554, 'rounded_sell': 21.92, 'desc': 'FREESTATE CON 02-08-2022 BL B248ZN'}, {'index': 2, 'item_id': 'TB 2522', 'spa_cost': 6.8479, 'rounded_sell': 8.05635294117647, 'desc': 'FREESTATE CON 02-08-2022 TB 2522'}, {'index': 3, 'item_id': 'TB 2922', 'spa_cost': 4.7677, 'rounded_sell': 5.609058823529412, 'desc': 'FREESTATE CON 02-08-2022 TB 2922'}, {'index': 4, 'item_id': 'TB 500-SC', 'spa_cost': 0.7961, 'rounded_sell': 0.9365882352941177, 'desc': 'FREESTATE CON 02-08-2022 TB 500-SC'}, {'index': 5, 'item_id': 'TB 502', 'spa_cost': 9.1428, 'rounded_sell': 10.756235294117646, 'desc': 'FREESTATE CON 02-08-2022 TB 502'}, {'index': 6, 'item_id': 'TB 5232', 'spa_cost': 2.4945, 'rounded_sell': 2.934705882352941, 'desc': 'FREESTATE CON 02-08-2022 TB 5232'}, {'index': 7, 'item_id': 'TB 5233', 'spa_cost': 3.7039, 'rounded_sell': 4.357529411764706, 'desc': 'FREESTATE CON 02-08-2022 TB 5233'}  ... displaying 10 of 21 total bound parameter sets ...  {'index': 19, 'item_id': 'TB TC5345A', 'spa_cost': 0.5681, 'rounded_sell': 0.6683529411764707, 'desc': 'FREESTATE CON 02-08-2022 TB TC5345A'}, {'index': 20, 'item_id': 'TB TY526MX', 'spa_cost': 0.4203, 'rounded_sell': 0.49447058823529416, 'desc': 'FREESTATE CON 02-08-2022 TB TY526MX'})
2022-02-08 16:14:14,299 INFO sqlalchemy.engine.base.Engine COMMIT

In [6]:
insertconsignedquery = '''

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(price_page_uid) + 1 FROM price_page;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO 
price_page (
    price_page_uid, calculator_type, apply_pp_to_mro_cd, company_id, 
    calculation_method_cd, source_price_cd, totaling_basis_cd, row_status_flag, 
    other_cost_source_cd, cost_calculation_method_cd, cost_calculation_value, 
    commission_cost_source_cd, commission_cost_calc_method_cd, commission_cost_calc_value,
    on_contract_flag, strategic_price_applies_to_cd, apply_freight_factor, freight_factor_source_cd, no_charge_flag, 
    non_stock_items_only_flag, apply_pp_to_sop_cd, price_override, totaling_method_cd, effective_date, expiration_date,
 price_page_type_cd, inv_mast_uid, description, 
 pricing_method_cd, calculation_value1, other_cost_type_cd,commission_cost_type_cd, 
 calculation_value2,calculation_value3,	calculation_value4,	calculation_value5,	calculation_value6,	calculation_value7,	
 calculation_value8,calculation_value9,	calculation_value10,calculation_value11,calculation_value12,	
 calculation_value13,calculation_value14,calculation_value15, break1,break2,break3,	break4,	break5,	break6,	break7,	break8,	break9,	break10,break11,break12,break13,break14, 
 date_last_modified, date_created, last_maintained_by, other_cost_value, commission_cost_value, price) 
SELECT 
@newuid, 'B', 1104, 1,
211, 201, 223, 704, 
202, 211, 1,
202, 211, 1,
'N', 2636, 'N', 202, 'N',
'N', 1103, 'N', 212 , %s, '12/31/2049', 
212, inv_mast.inv_mast_uid, att.[desc],  
221, 1, 227,227, 
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
 %s, %s, 'aeaker', att.spa_cost, att.spa_cost, att.rounded_sell
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.item_id = inv_mast.item_id)
WHERE att.[index] = @counter ;



SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END

'''

In [7]:
insertfloatingquery = '''

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(price_page_uid) + 1 FROM price_page;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO 
price_page (
    price_page_uid, calculator_type, apply_pp_to_mro_cd, company_id, 
    calculation_method_cd, source_price_cd, totaling_basis_cd, row_status_flag, 
    other_cost_source_cd, cost_calculation_method_cd, cost_calculation_value, 
    commission_cost_source_cd, commission_cost_calc_method_cd, commission_cost_calc_value,
    on_contract_flag, strategic_price_applies_to_cd, apply_freight_factor, freight_factor_source_cd, no_charge_flag, 
    non_stock_items_only_flag, apply_pp_to_sop_cd, price_override, totaling_method_cd, effective_date, expiration_date,
 price_page_type_cd, inv_mast_uid, description, 
 pricing_method_cd, calculation_value1, other_cost_type_cd,commission_cost_type_cd, 
 calculation_value2,calculation_value3,	calculation_value4,	calculation_value5,	calculation_value6,	calculation_value7,	
 calculation_value8,calculation_value9,	calculation_value10,calculation_value11,calculation_value12,	
 calculation_value13,calculation_value14,calculation_value15, break1,break2,break3,	break4,	break5,	break6,	break7,	break8,	break9,	break10,break11,break12,break13,break14, 
 date_last_modified, date_created, last_maintained_by, other_cost_value, commission_cost_value, price) 
SELECT 
@newuid, 'B', 1104, 1,
211, 201, 223, 704, 
202, 211, 1,
202, 211, 1,
'N', 2636, 'N', 202, 'N',
'N', 1103, 'N', 212 , %s, '12/31/2049', 
212, inv_mast.inv_mast_uid, att.[desc],  
221, 1, 222, 222, 
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
 %s, %s, 'aeaker', 1, 1, att.rounded_sell
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.item_id = inv_mast.item_id)
WHERE att.[index] = @counter ;



SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END

'''

In [8]:
today = dt.datetime.today().strftime('%Y/%m/%d %H:%M:%S')

conn = engine.connect()
conn = conn.execution_options(autocommit=True)
conn.execute(insertconsignedquery, (today, today, today, today, today))
conn.close()

2022-02-08 16:14:20,674 INFO sqlalchemy.engine.base.Engine

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(price_page_uid) + 1 FROM price_page;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO
price_page (
    price_page_uid, calculator_type, apply_pp_to_mro_cd, company_id,
    calculation_method_cd, source_price_cd, totaling_basis_cd, row_status_flag,
    other_cost_source_cd, cost_calculation_method_cd, cost_calculation_value,
    commission_cost_source_cd, commission_cost_calc_method_cd, commission_cost_calc_value,
    on_contract_flag, strategic_price_applies_to_cd, apply_freight_factor, freight_factor_source_cd, no_charge_flag,
    non_stock_items_only_flag, apply_pp_to_sop_cd, price_override, totaling_method_cd, effective_date, expiration_date,
 price_page_type_cd, inv_mast_uid, description,
 pricing_method_cd, calculation_value1, other_cost_type_cd,commission_cost_type_cd,
 calculation_value2,calculation_value3,	calculation_value4,	calculation_value5,	calculation_value6,	calculation_value7,
 calculation_value8,calculation_value9,	calculation_value10,calculation_value11,calculation_value12,
 calculation_value13,calculation_value14,calculation_value15, break1,break2,break3,	break4,	break5,	break6,	break7,	break8,	break9,	break10,break11,break12,break13,break14,
 date_last_modified, date_created, last_maintained_by, other_cost_value, commission_cost_value, price)
SELECT
@newuid, 'B', 1104, 1,
211, 201, 223, 704,
202, 211, 1,
202, 211, 1,
'N', 2636, 'N', 202, 'N',
'N', 1103, 'N', 212 , %s, '12/31/2049',
212, inv_mast.inv_mast_uid, att.[desc],
221, 1, 227,227,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
 %s, %s, 'aeaker', att.spa_cost, att.spa_cost, att.rounded_sell
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.item_id = inv_mast.item_id)
WHERE att.[index] = @counter ;



SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END


2022-02-08 16:14:20,675 INFO sqlalchemy.engine.base.Engine ('2022/02/08 16:14:20', '2022/02/08 16:14:20', '2022/02/08 16:14:20', '2022/02/08 16:14:20', '2022/02/08 16:14:20')
2022-02-08 16:14:20,861 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
floating = {}
j = 1
files = [ f for f in os.listdir('Consignment PP') if os.path.isfile('Consignment PP/'+ f) ]
print(files)
for filename in files:
    floating[j] = pd.read_excel('Consignment PP/' + filename,sheet_name='Floating', usecols=['item_id', 'rounded_sell', 'desc'])
    j += j

FloatingConCat = pd.concat(floating, ignore_index=True)
FloatingConCat

['Freestate Consignment 2.8.22.xlsx']

,item_id,rounded_sell,desc
0,3M 165BK4A,1.06,FREESTATE FLOATING 02-08-2022 3M 165BK4A
1,3M 35-3/4X66FT-BL,5.67,FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-BL
2,3M 35-3/4X66FT-BR,5.67,FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-BR
3,3M 35-3/4X66FT-GN,5.67,FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-GN
4,3M 35-3/4X66FT-OR,5.67,FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-OR
5,3M 35-3/4X66FT-RD,5.67,FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-RD
6,3M 35-3/4X66FT-WH,5.67,FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-WH
7,3M 35-3/4X66FT-YL,5.67,FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-YL
8,APL CL100MN,1.15,FREESTATE FLOATING 02-08-2022 APL CL100MN
9,APL CL75MN,0.86,FREESTATE FLOATING 02-08-2022 APL CL75MN
10,APL CLB-100MN,1.72,FREESTATE FLOATING 02-08-2022 APL CLB-100MN
11,APL CLB-75MN,1.15,FREESTATE FLOATING 02-08-2022 APL CLB-75MN
12,APL H100WB,1.01,FREESTATE FLOATING 02-08-2022 APL H100WB
13,APL H75WB,0.72,FREESTATE FLOATING 02-08-2022 APL H75WB
14,APL RB10075,2.01,FREESTATE FLOATING 02-08-2022 APL RB10075
15,APL RB7550,1.06,FREESTATE FLOATING 02-08-2022 APL RB7550
16,GRC 034,3.43,FREESTATE FLOATING 02-08-2022 GRC 034
17,GRC 100,5.46,FREESTATE FLOATING 02-08-2022 GRC 100
18,PEC 1224X112HTJ,33.10,FREESTATE FLOATING 02-08-2022 PEC 1224X112HTJ
19,PEC 14FHNUSSZJ,3.76,FREESTATE FLOATING 02-08-2022 PEC 14FHNUSSZJ
20,PEC 14FWUSSZJ,3.84,FREESTATE FLOATING 02-08-2022 PEC 14FWUSSZJ
21,PEC 14LWZJ,3.22,FREESTATE FLOATING 02-08-2022 PEC 14LWZJ
22,PEC 14X112HBG2ZJ,13.92,FREESTATE FLOATING 02-08-2022 PEC 14X112HBG2ZJ
23,PEC 14X114FWZJ,8.60,FREESTATE FLOATING 02-08-2022 PEC 14X114FWZJ
24,PEC 14X114HBG2ZJ,11.25,FREESTATE FLOATING 02-08-2022 PEC 14X114HBG2ZJ
25,PEC 14X1HBG2ZJ,11.00,FREESTATE FLOATING 02-08-2022 PEC 14X1HBG2ZJ
26,PEC 14X38BRHCMSZJ,5.50,FREESTATE FLOATING 02-08-2022 PEC 14X38BRHCMSZJ
27,PEC 38FHNUSSZJ,6.19,FREESTATE FLOATING 02-08-2022 PEC 38FHNUSSZJ
28,PEC 38FWUSSZJ,6.34,FREESTATE FLOATING 02-08-2022 PEC 38FWUSSZJ
29,PEC 38LWZJ,5.78,FREESTATE FLOATING 02-08-2022 PEC 38LWZJ
30,PEC 38X112HBG2ZJ,24.95,FREESTATE FLOATING 02-08-2022 PEC 38X112HBG2ZJ
31,PEC 38X114FWZJ,10.22,FREESTATE FLOATING 02-08-2022 PEC 38X114FWZJ
32,PEC 38X114HBG2ZZJ,22.28,FREESTATE FLOATING 02-08-2022 PEC 38X114HBG2ZZJ
33,PEC 38X1HBG2ZJ,18.99,FREESTATE FLOATING 02-08-2022 PEC 38X1HBG2ZJ
34,PEC 5233J,10.75,FREESTATE FLOATING 02-08-2022 PEC 5233J
35,PEC 5243J,12.31,FREESTATE FLOATING 02-08-2022 PEC 5243J
36,PEC TPC14,12.59,FREESTATE FLOATING 02-08-2022 PEC TPC14
37,PEC TPC38,13.80,FREESTATE FLOATING 02-08-2022 PEC TPC38
38,SCT TP714-GLV,5.74,FREESTATE FLOATING 02-08-2022 SCT TP714-GLV
39,TYT T50I0C2,0.09,FREESTATE FLOATING 02-08-2022 TYT T50I0C2

In [11]:
FloatingConCat.to_sql('aaron_temp_table', con=engine, if_exists='replace')

2022-02-08 16:16:00,310 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-08 16:16:00,311 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-08 16:16:00,865 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-08 16:16:00,867 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-08 16:16:00,872 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(%(table_type_1)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2022-02-08 16:16:00,873 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}
2022-02-08 16:16:00,939 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(%(table_schema_1)s AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] = sys.computed_columns.name
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_2)s AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2022-02-08 16:16:00,941 INFO sqlalchemy.engine.base.Engine {'table_schema_1': '.', 'table_name_1': 'aaron_temp_table', 'table_schema_2': 'dbo'}
2022-02-08 16:16:00,944 INFO sqlalchemy.engine.base.Engine sp_columns @table_name = %(table_name)s, @table_owner = %(table_owner)s
2022-02-08 16:16:00,946 INFO sqlalchemy.engine.base.Engine {'table_name': 'aaron_temp_table', 'table_owner': 'dbo'}
2022-02-08 16:16:00,973 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2022-02-08 16:16:00,974 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-08 16:16:00,979 INFO sqlalchemy.engine.base.Engine SELECT [C].[COLUMN_NAME], [R].[TABLE_SCHEMA], [R].[TABLE_NAME], [R].[COLUMN_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[MATCH_OPTION], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UPDATE_RULE], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[DELETE_RULE]
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [R], [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS]
WHERE [C].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME] AND [R].[CONSTRAINT_NAME] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_NAME] AND [R].[CONSTRAINT_SCHEMA] = [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[UNIQUE_CONSTRAINT_SCHEMA] AND [C].[ORDINAL_POSITION] = [R].[ORDINAL_POSITION] ORDER BY [INFORMATION_SCHEMA].[REFERENTIAL_CONSTRAINTS].[CONSTRAINT_NAME], [R].[ORDINAL_POSITION]
2022-02-08 16:16:00,980 INFO sqlalchemy.engine.base.Engine {'table_name_1': 'aaron_temp_table', 'table_schema_1': 'dbo'}
2022-02-08 16:16:00,985 INFO sqlalchemy.engine.base.Engine select ind.index_id, ind.is_unique, ind.name from sys.indexes as ind join sys.tables as tab on ind.object_id=tab.object_id join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name = CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max)) and ind.is_primary_key=0 and ind.type != 0
2022-02-08 16:16:00,987 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-08 16:16:00,989 INFO sqlalchemy.engine.base.Engine select ind_col.index_id, ind_col.object_id, col.name from sys.columns as col join sys.tables as tab on tab.object_id=col.object_id join sys.index_columns as ind_col on (ind_col.column_id=col.column_id and ind_col.object_id=tab.object_id) join sys.schemas as sch on sch.schema_id=tab.schema_id where tab.name=CAST(%(tabname)s AS NVARCHAR(max)) and sch.name=CAST(%(schname)s AS NVARCHAR(max))
2022-02-08 16:16:00,990 INFO sqlalchemy.engine.base.Engine {'tabname': 'aaron_temp_table', 'schname': 'dbo'}
2022-02-08 16:16:00,994 INFO sqlalchemy.engine.base.Engine
DROP TABLE aaron_temp_table
2022-02-08 16:16:00,995 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:16:01,000 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-08 16:16:01,005 INFO sqlalchemy.engine.base.Engine
CREATE TABLE aaron_temp_table (
	[index] BIGINT NULL,
	item_id VARCHAR(max) NULL,
	rounded_sell FLOAT(53) NULL,
	[desc] VARCHAR(max) NULL
)


2022-02-08 16:16:01,007 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:16:01,012 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-08 16:16:01,015 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_aaron_temp_table_index ON aaron_temp_table ([index])
2022-02-08 16:16:01,016 INFO sqlalchemy.engine.base.Engine {}
2022-02-08 16:16:01,018 INFO sqlalchemy.engine.base.Engine COMMIT
2022-02-08 16:16:01,026 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2022-02-08 16:16:01,028 INFO sqlalchemy.engine.base.Engine INSERT INTO aaron_temp_table ([index], item_id, rounded_sell, [desc]) VALUES (%(index)s, %(item_id)s, %(rounded_sell)s, %(desc)s)
2022-02-08 16:16:01,029 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'item_id': '3M 165BK4A', 'rounded_sell': 1.06, 'desc': 'FREESTATE FLOATING 02-08-2022 3M 165BK4A'}, {'index': 1, 'item_id': '3M 35-3/4X66FT-BL', 'rounded_sell': 5.67, 'desc': 'FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-BL'}, {'index': 2, 'item_id': '3M 35-3/4X66FT-BR', 'rounded_sell': 5.67, 'desc': 'FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-BR'}, {'index': 3, 'item_id': '3M 35-3/4X66FT-GN', 'rounded_sell': 5.67, 'desc': 'FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-GN'}, {'index': 4, 'item_id': '3M 35-3/4X66FT-OR', 'rounded_sell': 5.67, 'desc': 'FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-OR'}, {'index': 5, 'item_id': '3M 35-3/4X66FT-RD', 'rounded_sell': 5.67, 'desc': 'FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-RD'}, {'index': 6, 'item_id': '3M 35-3/4X66FT-WH', 'rounded_sell': 5.67, 'desc': 'FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-WH'}, {'index': 7, 'item_id': '3M 35-3/4X66FT-YL', 'rounded_sell': 5.67, 'desc': 'FREESTATE FLOATING 02-08-2022 3M 35-3/4X66FT-YL'}  ... displaying 10 of 40 total bound parameter sets ...  {'index': 38, 'item_id': 'SCT TP714-GLV', 'rounded_sell': 5.74, 'desc': 'FREESTATE FLOATING 02-08-2022 SCT TP714-GLV'}, {'index': 39, 'item_id': 'TYT T50I0C2', 'rounded_sell': 0.09, 'desc': 'FREESTATE FLOATING 02-08-2022 TYT T50I0C2'})
2022-02-08 16:16:01,049 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
today = dt.datetime.today().strftime('%Y/%m/%d %H:%M:%S')

conn = engine.connect()
conn = conn.execution_options(autocommit=True)
conn.execute(insertfloatingquery, (today, today, today, today, today))
conn.close()

2022-02-08 16:16:03,986 INFO sqlalchemy.engine.base.Engine

DECLARE @counter INT = 0,
@rowcnt INT = 0,
@newuid int = 0;

SELECT @newuid = MAX(price_page_uid) + 1 FROM price_page;
SELECT @rowcnt = COUNT(*) FROM dbo.aaron_temp_table ;



WHILE (@counter <= @rowcnt)

BEGIN

INSERT INTO
price_page (
    price_page_uid, calculator_type, apply_pp_to_mro_cd, company_id,
    calculation_method_cd, source_price_cd, totaling_basis_cd, row_status_flag,
    other_cost_source_cd, cost_calculation_method_cd, cost_calculation_value,
    commission_cost_source_cd, commission_cost_calc_method_cd, commission_cost_calc_value,
    on_contract_flag, strategic_price_applies_to_cd, apply_freight_factor, freight_factor_source_cd, no_charge_flag,
    non_stock_items_only_flag, apply_pp_to_sop_cd, price_override, totaling_method_cd, effective_date, expiration_date,
 price_page_type_cd, inv_mast_uid, description,
 pricing_method_cd, calculation_value1, other_cost_type_cd,commission_cost_type_cd,
 calculation_value2,calculation_value3,	calculation_value4,	calculation_value5,	calculation_value6,	calculation_value7,
 calculation_value8,calculation_value9,	calculation_value10,calculation_value11,calculation_value12,
 calculation_value13,calculation_value14,calculation_value15, break1,break2,break3,	break4,	break5,	break6,	break7,	break8,	break9,	break10,break11,break12,break13,break14,
 date_last_modified, date_created, last_maintained_by, other_cost_value, commission_cost_value, price)
SELECT
@newuid, 'B', 1104, 1,
211, 201, 223, 704,
202, 211, 1,
202, 211, 1,
'N', 2636, 'N', 202, 'N',
'N', 1103, 'N', 212 , %s, '12/31/2049',
212, inv_mast.inv_mast_uid, att.[desc],
221, 1, 222, 222,
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
 %s, %s, 'aeaker', 1, 1, att.rounded_sell
FROM aaron_temp_table AS att
INNER JOIN inv_mast ON (att.item_id = inv_mast.item_id)
WHERE att.[index] = @counter ;



SET @counter = @counter + 1 ;
SET @newuid = @newuid + 1;

END


2022-02-08 16:16:03,987 INFO sqlalchemy.engine.base.Engine ('2022/02/08 16:16:03', '2022/02/08 16:16:03', '2022/02/08 16:16:03', '2022/02/08 16:16:03', '2022/02/08 16:16:03')
2022-02-08 16:16:04,417 INFO sqlalchemy.engine.base.Engine COMMIT